!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Hacker Search Engine"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    .row
      .large-12.columns
        
        = yield
        
      .small-4.small-centered.columns
        %h4
          %small
            Build by
            %a{ href: "https://www.linkedin.com/profile/view?id=180488336" } mokrzu
            on Rails 4 &
            %a{ href: "https://github.com/toptal/chewy" } Chewy

      = javascript_include_tag "application"
